table,
th,
td {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  line-height: inherit;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

LockerRadioSmall:checked + lockerImgSmall {
   font-weight: bold;
}

.image-padding {
  padding: 30px;
}
.image-padding img {
  width: 100%;
}